.App {
  padding: 15px;
  &__header {
    min-height: 100px;
    border-radius: 10px;
    h6 {
      color: var(--white);
      width: 100%;
    }
  }
}

.Repo {
  img {
    width: 50px;
    height: 50px;
  }
}
